<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping resource="in/eko/service/model/CallBackRequestBO.hbm.xml"></mapping>
		<mapping resource="in/eko/service/model/ConfigurationBO.hbm.xml"></mapping>
		<mapping resource="in/eko/service/model/Messagelog.hbm.xml"></mapping>
		<mapping resource="in/eko/service/model/MockConfigBO.hbm.xml"></mapping>
		<mapping resource="in/eko/service/model/ResponseCodeBO.hbm.xml"></mapping>
		<mapping resource="in/eko/service/model/TransactionBO.hbm.xml"></mapping>
		<mapping resource="in/eko/service/model/TaskConfigurationBO.hbm.xml"></mapping>
		<mapping resource="in/eko/service/model/TaskHistoryBO.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>
